<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao1" class="com.kaishengit.dao.UserDao"/>
    <!--<bean id="userDao2" class="com.kaishengit.dao.UserDao"/>-->

    <bean id="userService"
          class="com.kaishengit.service.impl.UserServiceImpl"
          autowire="constructor"/>



<!--    <bean id="userService" class="com.kaishengit.service.impl.UserServiceImpl">
        &lt;!&ndash;<constructor-arg name="userDao" ref="userDao"/>&ndash;&gt;
        &lt;!&ndash;<constructor-arg index="0" ref="userDao"/>&ndash;&gt;
        <constructor-arg type="com.kaishengit.dao.UserDao" ref="userDao"/>
        <constructor-arg name="name" value="abc"/>
        <property name="address" value="xxx"/>
    </bean>-->

</beans>